.flex {
    display: flex;
}
.flex-h-center {
    justify-content: center;
}
.flex-h-space-between {
    justify-content: space-between;
}
.flex-h-start {
    justify-content: flex-start;
}
.flex-h-end {
    justify-content: flex-end;
}
.flex-v-center {
    align-items: center;
}
.flex-v-start {
    align-items: flex-start;
}
.flex-v-end {
    align-items: flex-end;
}
.wrap {
    flex-wrap: wrap;
}