.get-sample-data {
    .box {
        background: #efefef;
        border: 1px solid #c6c6c6;
        border-radius: 10px;
        padding: 15px;
        font-size: 1.5rem;
        margin: 15px 0;
    }
    .tooltip:before {
        content: "Specify a format for the GET request";
    }
}