html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 62.5%;
    color: #3f3f3f;
}
*, *:before, *:after {
    box-sizing: border-box;
}
header.main {
    background: #3f3f3f;
    color: #efefef;
    font-size: 2rem;
    padding: 15px 0;
    border-top: 5px solid #9e0404;
}
.container {
    width: 100%;
    padding: 0 5%;
    margin: 0 auto;
    position: relative;
    @media screen and (min-width: 992px) {
        width: 80%;
        padding: 0;
    }
}
h1 {
    font-size: 3rem;
}
.tooltip {
    position: relative;
    display: inline-block;
    &:before {
        position: absolute;
        content: "";
        display: block;
        bottom: 110%;
        left: 50%;
        transform: translateX(-50%);
        background: #000;
        color: #fff;
        font-size: 1rem;
        opacity: 0;
        pointer-events: none;
        transition: 0.3s;padding: 4px 7px;
        min-width: 100px;
        text-align: center;
    }
    &:hover {
        &:before {
            opacity: 1;
            pointer-events: auto;
        }
    }
}